{{template "Public/header.html" .}}
<script language="javascript" src="/public/js/Content/focus_cate.js"></script>
<body>
	<div class="subnav">
		<div class="content-menu ib-a blue line-x">
			<a href='javascript:;' class="on"><em>{{msg . "focuscate_list"}}</em></a><span>|</span><a
				href='/FocusCate/add/'><em>{{msg . "focuscate_add"}}</em></a>
		</div>
	</div>
	<div class="pad_10">
		<div class="table-list">
			<table width="100%" cellspacing="0">
				<thead>
					<tr>
						<th width="10%">{{msg . "focuscate_ID"}}</th>
						<th width="10%" align="left">{{msg . "focuscate_name"}}</th>
						<th width="10%" align="left">{{msg . "focuscate_width"}}</th>
						<th width="20%" align="left">{{msg . "focuscate_height"}}</th>
						<th width="20%" align="left">{{msg . "focuscate_createtime"}}</th>
						<th width="15%">{{msg . "focuscate_manage"}}</th>
					</tr>
				</thead>
				<tbody>
					{{if .focusCate_list}}
						{{$msg := .}}
						{{range $focusCate_list := .focusCate_list}}
						<tr>
							<td align="center">{{$focusCate_list.Id}}</td>
							<td>
								<a href="/FocusCate/edit/{{$focusCate_list.Id}}/">{{$focusCate_list.Name}}</a>
							</td>	
							<td>{{$focusCate_list.Width}}</td>
							<td>{{$focusCate_list.Height}}</td>
							<td>{{$focusCate_list.Createtime}}</td>
							<td width="10%" align="center">
							<a href="/FocusCate/edit/{{$focusCate_list.Id}}/">{{msg $msg "edit"}}</a> |
							<a href="javascript:;" onclick="delete_cate({{$focusCate_list.Id}})">{{msg $msg "delete"}}</a>
							</td>
						</tr>
						{{end}}
					{{end}}
				</tbody>
			</table>
			<div id="pages">{{.pages}}</div>
		</div>
	</div>
</body>
<script type="text/javascript">
<!--
	$(document).ready(function() {
		window.top.$('#display_center_id').css('display', 'none');
	});
//-->
</script>

{{template "Public/footer.html" .}}